.tooltip {
  padding: 10px;
  border: 1px solid var(--clr-border);
  border-radius: 10px;
  background-color: var(--clr-white);
}

.tooltip__day {
  margin-block-end: 6px;
  font-weight: 500;
  font-size: var(--fs-sm);
}

.tooltip__count {
  color: var(--clr-primary);
  font-weight: 500;
  font-size: var(--fs-sm);
}