.call + .call {
  margin-block-start: 8px;
}

.call__header {
	display: flex;
  flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
  gap: 8px;
}

.call__info {
	display: flex;
	column-gap: 8px;
	align-items: center;
}

.call__actions {
	display: flex;
	column-gap: 8px;
	align-items: center;
}
