.stats_sec {
  display: flex;
  align-items: stretch;
  margin-block-end: 16px;
  gap: 12px;
}

.wrapper {
  display: flex;
  align-items: stretch;
  gap: 16px;
}

/* ==================================
WIDTH MEDIA
================================== */
@media (max-width: 680px) {
  .stats_sec {
    flex-direction: column;
  }
}