.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 16px;
  padding-block: 14px;
  border: 1px solid var(--clr-border);
  border-radius: 10px;
}

.product + .product {
  margin-block-start: 8px;
}

.product__title {
  font-weight: 500;
  font-size: var(--fs-sm);
}

.product__actions {
  display: flex;
  align-items: center;
  gap: 8px;
}