.message_wrapper {
	display: flex;
	column-gap: 12px;
	align-items: center;
  align-items: start;
	padding: 16px;
	border-radius: 10px;
	background-color: var(--clr-danger-soft);
	color: var(--clr-danger);

	.icon {
		font-size: var(--fs-4xl);
	}

	.message_title {
		margin-block-end: 4px;
		font-weight: 600;
		font-size: var(--fs-sm);
	}

	.message {
		font-size: var(--fs-xs);
	}
}
