.text_area {
  width: 100%;
  height: 40px;
  padding-inline: 12px;
  padding-block: 8px;
  border: 1px solid var(--clr-border);
  border-radius: 8px;
  outline: none;
  background-color: var(--clr-white);
  color: var(--clr-text-dark);
  font-weight: 400;
  font-size: var(--fs-sm);
  resize: vertical;
  transition: all .15s linear;
}

.text_area:focus {
  border-color: var(--clr-primary) !important;
  box-shadow: 0 0 5px var(--clr-primary);
}

.text_area.error {
  border-color: var(--clr-danger);
}

.text_area::placeholder {
  color: #BFBFBF;
  font-weight: 400;
  font-size: var(--fs-sm);
}