.empty_state {
  margin-block-start: 16px;
  background-color: var(--clr-white);
}

.table thead th:last-child {
  text-align: center;
}

.pagination_wrapper {
  padding: 16px;
}

/* ===============================
WIDTH MEDIA
=============================== */
@media (max-width: 680px) {
  .table input {
    transform: scale(1.1);
  }
}