.empty_state {
  margin-block-start: 16px;
  background-color: var(--clr-white);
}

.wrapper {
  width: 100%;
  margin-block-start: 16px;
  overflow-x: auto;
  border: 1px solid var(--clr-border);
  border-radius: 14px;
  background-color: var(--clr-white);
}

.pagination_wrapper {
  padding: 16px;
}

/* ===============================
WIDTH MEDIA
=============================== */
@media (max-width: 680px) {
  .pagination {
    justify-content: flex-start;
  }

  .pagination__count {
    display: none;
  }

  .table input {
    transform: scale(1.1);
  }
}