.brand {
  display: flex;
  column-gap: 6px;
  align-items: center;
}

.logo {
  width: 70px;
}

.brand__title {
  font-weight: 700;
  font-size: var(--fs-sm);
}

.brand__subtitle {
  color: var(--clr-text-soft);
  font-weight: 400;
  font-size: var(--fs-xs);
}