.nav {
  display: none;
  z-index: 1001;
  position: fixed;
  align-items: center;
  width: 100vw;
  inset-block-end: 0;
  inset-inline-start: 0;
  padding-block: 10px;
  border-top: 1px solid var(--clr-border);
  background-color: var(--clr-white);
}

.nav__link {
  display: flex;
  row-gap: 2px;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  color: var(--clr-text-soft);
  transition: all 100ms linear;
}

.nav__link.active {
  color: var(--clr-primary);
}

.link__icon {
  font-size: 20px;
}

.link__label {
  font-weight: 500;
  font-size: 10px;
}

/* ============================
WIDTH MEDIA
============================ */
@media (max-width: 1024px) {
	.nav {
		display: flex;
	}
}
