.wrapper {
  display: flex;
  align-items: start;
  align-items: stretch;
  gap: 16px;
}

/* ================================
WIDTH MEDIA
================================ */
@media (max-width: 680px) {
  .wrapper {
    flex-direction: column;
  }
}