.call {
  padding: 14px;
  border: 1px solid var(--clr-border);
  border-radius: 10px;
}

.call + .call {
  margin-block-start: 10px;
}

.call__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date {
  color: var(--clr-text-soft);
  font-weight: 400;
  font-size: var(--fs-xs);
}