.count {
  display: grid;
  place-items: center;
  width: 20px;
  height: 20px;
  margin-inline-end: 8px;
  border: 1px solid var(--clr-border);
  border-radius: 8px;
  background-color: var(--clr-text-mute);
  color: var(--clr-text-soft);
  font-weight: 500;
  font-size: var(--fs-xs);
}

.empty_message {
  color: var(--clr-text-soft);
  font-weight: 500;
  font-size: var(--fs-xs);
}