.wrapper {
  display: flex;
  gap: 16px;
}

/* ===============================
WIDTH MEDIA 
=============================== */
@media (max-width: 680px) {
  .page_header {
    flex-direction: column;
    align-items: stretch;
  }
}