.wrapper {
	position: sticky;
	top: 20px;
  width: 357px;
  min-width: 357px;
}

/* ================================
INFO LIST
================================ */
.info {
	display: flex;
	column-gap: 10px;
	align-items: center;
	padding-block: 12px;

	&:first-of-type {
		padding-block-start: 0;
	}

	&:last-of-type {
		padding-block-end: 0;
	}
}

.info + .info {
	border-top: 1px solid var(--clr-border);
}

.info__icon {
	display: grid;
	place-items: center;
	min-width: 36px;
	min-height: 36px;
	border-radius: 10px;
	background-color: var(--clr-primary-soft);
	color: var(--clr-primary);
	font-size: 16px;
}

.info__title {
	color: var(--clr-text-soft);
	font-weight: 400;
	font-size: var(--fs-xs);
}

.info__value {
	margin-block-start: 4px;
	font-weight: 500;
	font-size: var(--fs-sm);
}

/* ================================
note
================================ */
.note_wrapper {
	margin-block-start: 24px;
	padding: 14px;
	border-right: 4px solid color-mix(in srgb, var(--clr-text-soft) 30%, transparent);
	border-radius: 10px;
	background-color: var(--clr-text-mute);
}

.note__header {
	display: flex;
	column-gap: 12px;
	align-items: center;
	color: var(--clr-text-soft);
}

.note__icon {
	font-size: var(--fs-base);
}

.note__title {
	font-weight: 500;
	font-size: var(--fs-xs);
}

.note__text {
	margin-block-start: 4px;
	font-weight: 400;
	font-size: var(--fs-xs);
}

/* ===============================
WIDTH MEDIA 
=============================== */
@media (max-width: 1200px) {
	.wrapper {
		position: static;
		width: 100%;
    min-width: 0;
	}
}
