.avatar {
  display: flex;
  column-gap: 14px;
  align-items: center; 
}

.avatar__date {
  margin-block-start: 4px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 20px 25px;
  gap: 8px;
}

.actions__status {
  width: 210px;
  height: 40px;
}

.actions__basic {
  width: 320px;
  height: 30px;
}

.wrapper {
  display: flex;
  align-items: start;
  gap: 16px;
}

.info {
  width: 300px;
  min-width: 300px;
  height: 450px;
}

.details {
  flex-grow: 1;
  height: 450px;
}

/* ================================
WIDTH MEDIA
================================ */
@media (max-width: 1200px) {
  .wrapper {
    flex-direction: column;
  }

  .info {
    width: 100%;
    min-width: 0;
  }  
}

@media (max-width: 680px) {
  .actions {
    flex-direction: column-reverse;
  }

  .actions__basic, .actions__status {
    width: 100%;
  }
}