.wrapper {
	position: relative;
	width: 100%;
}

.input {
  width: 100%;
	height: 40px;
	padding-inline: 12px;
	border: 1px solid var(--clr-border);
	border-radius: 8px;
	outline: none;
	background-color: transparent;
	color: var(--clr-text-dark);
	caret-color: var(--clr-text-soft);
	font-weight: 400;
	font-size: var(--fs-sm);
	transition: all 0.15s linear;

	&:focus {
		border-color: var(--clr-primary) !important;
		background-color: transparent !important;
		box-shadow: 0 0 5px var(--clr-primary);
	}

	&::placeholder {
		color: #bfbfbf;
		font-weight: 400;
		font-size: var(--fs-sm);
	}
}

.input.error {
	border-color: var(--clr-danger);
	background-color: var(--clr-danger-soft);
}

.input.start_icon {
	padding-inline-start: 42px;
}

.input.end_icon {
	padding-inline-end: 42px;
}

.icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: var(--clr-text-soft);
	font-size: var(--fs-base);
}

.icon.start_icon {
	right: 12px;
}

.icon.end_icon {
	left: 12px;
}
