.selection {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-block-start: 16px;
	gap: 16px;
  background-color: var(--clr-primary) !important;
}

.selection__actions {
	display: flex;
	column-gap: 8px;
	align-items: center;
}

.selection__count {
  color: var(--clr-white);
	font-weight: 500;
	font-size: var(--fs-sm)
}

/* ==================================
WIDTH MEDIA
================================== */
@media (max-width: 480px) {
	.selection {
		flex-direction: column;
		align-items: stretch;
	}

	.selection__actions {
		flex-direction: column;
		align-items: stretch;
		gap: 12px;
	}

	.selection__actions button {
		width: 100%;
	}
}
